@tailwind base;
@tailwind components;
@tailwind utilities;

@import "@radix-ui/themes/styles.css";

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

button {
  cursor: pointer;
}

button[data-accent-color="red"] {
  background-color: var(--accent-9) !important;
  color: var(--accent-9-contrast) !important;
}

button[data-accent-color="red"]:hover {
  background-color: var(--accent-10) !important;
}

.dark .react-loading-skeleton {
  --base-color: #424242;
  --highlight-color: #616161;
}

.dark .recharts-cartesian-axis-ticks text {
  fill: white;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

@layer utilities {
  .nav-link {
    @apply text-zinc-500 hover:text-zinc-800 transition-colors;
  }

  .nav-link-active {
    @apply !text-zinc-900;
  }

  .dark .nav-link {
    @apply text-zinc-300 hover:text-zinc-100;
  }

  .dark .nav-link-active {
    @apply !text-violet-400;
  }
}
